ul { 
	padding: 0; 
	width: 90%;
	margin: 20px auto;
}
li {display: inline;}

.tn {
	margin: 10px;
	border: 4px solid #eee;
	box-shadow: #811425 1px 1px 8px 1px;
	max-width: 250px;
	max-height: 250px;
}
button {
	background-color: #811425;
	font-family: 'Montserrat', sans-serif;
}
button:hover {
	background-color: #cc1e39;
}
.btn-info.active {
	background-color: #cc1e39;
	border-color: black;
}
.sort {
	text-align: center;
	margin: 20px auto;
}
.container {
	margin-top: 20px;
	text-align: center;
}
h4 {
	margin-bottom: 10px;
	font-weight: 400;
}
